* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
}
header {
  width: 1440px;
  height: 800px;
  position: absolute;
}
.header-image {
  width: 1440px;
  height: 800px;
  position: relative;
}
.main-containers {
  width: 720px;
  height: 600px;
}
.cherry {
  width: 720px;
  height: 600px;
}
.section-one {
  width: 1440px;
  height: 1800px;
  display: flex;
  flex-wrap: wrap;
}
.section-two {
  width: 1440px;
  height: 777px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-div {
  width: 760px;
  height: 457px;
  background-color: brown;
}
footer {
  width: 1440px;
  height: 797px;
}
.footer-up {
  width: 1440px;
  height: 447px;
  background-color: blue;
  display: flex;
}
.footer-down {
  width: 1440px;
  height: 350px;
  background-color: chartreuse;
}
.footer-containers {
  width: 360px;
  height: 447px;
}
